.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.navButton {
  background-size: 150px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30px;
  height: 240px;
  width: 250px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
  font-family: "Trebuchet MS";
}
.navButton:hover,
.homebtn:hover {
  background-color: rgb(240, 240, 240);
  border-color: blue;
}
.navButton:active,
.homebtn:active {
  background-color: rgb(228, 228, 228);
}

a:visited,
a:link {
  text-decoration: none;
  color: black;
}

.homebtn {
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  border-color: black;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 20px;
}

#l {
  float: left;
}
#r {
  float: right;
}

h2 {
  margin: 20px;
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
  font-family: Trebuchet MS;
}

/* for daily tracker */
p,
h5 {
  margin: 10px;
  font-size: 20px;
}

.nutrients {
  display: flex;
}

#weight,
#height,
#age {
  font-size: 28px;
  width: 65px;
}

#units {
  padding: -50px;
}

#gauge-chart2 {
  filter: grayscale(1);
}

.react-scrollable-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  border: black solid 1px;
}

div {
  display: block;
}

::placeholder {
  color: #8d8d8db9; /* Desired color for the placeholder text */
}

#toggleCheckbox {
  height: 20px;
  width: 20px;
  border: 2px solid #ccc; /* Adjust the border color as desired */
  border-radius: 4px; /* Adjust the border radius as needed */
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 5px; /* Adjust the margin as needed */
  align-items: center;
}

.protein-color::before {
  background-color: #299fe3;
}

.carbs-color::before {
  background-color: #edcd1a;
}

.fat-color::before {
  background-color: #c90c9d;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 6px;
}
